html, body {
    margin: 0px;
    padding: 0px;
    height: parent;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #555;
}

div#temp_graph {
    width: 550px;
    height: 325px;
    margin: 0 auto;
}

div#humid_graph {
    width: 550px;
    height: 325px;
    margin: 0 auto;
}

div#soil_graph {
    width: 550px;
    height: 325px;
    margin: 0 auto;
}

div#data_holder {
    text-align: center;
    /*border-top: solid 1px #000;*/
    /*border-bottom: solid 1px #000;*/
}

.green {
    color: #1a1;
}

.center {
    text-align: center;
}

.float_right {
    float: right;
    height: 200px;
    width: 200px;
}

div#panel {
    width: 700px;
    -webkit-box-shadow: 0px 0px 5px #555;
    margin: auto;
    min-height: 100%;
}

div#content {
    padding: 15px;
}